*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 32px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    margin-top: 32px;
}

.board {
    /* background-color: greenyellow; */
    border: 3px solid gray;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    display: grid;
}